body{
    font-family: 'Asap', sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;

}
.image img{
    height: 200px;
    padding: 40px;
    padding-left: 20px;
}
.write{
    padding-left: 20px;
}
.write p{
    color: orange;
    font-weight: bold;

}
.write span{
    color: orangered;
}
.write li{
    font-weight: 800;
}
.write a{ margin-left: 10px;
    background-color: orangered;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.about{ border-radius: 5px;
    margin: 30px;
    margin-left: 30%;
    background-color: skyblue;
    padding: 30px;
    width: 200px;
}
.about h1{
    color: aliceblue;
    font-weight: bold;
}
.about p{
    color: lightslategray;
    font-weight: bold;
    line-height: 22px;
}
.about a{
  
    background-color: orangered;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.write a:hover{
    background-color: white;
    color: orange;
}
.about a:hover{
    background-color: white;
    color: orange;
}