body{
    font-family: 'Asap', sans-serif;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;

}
.image img{
    height: 200px;
    padding: 40px;
    padding-left: 20px;
}
.write{
    padding-left: 20px;
}
.write p{
    color: orange;
    font-weight: bold;

}
.write span{
    color: orangered;
}
.write li{
    font-weight: 800;
}
.write a{
    background-color: orangered;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}